
body {font-family: Arial, Helvetica, sans-serif;margin: 0;}
form {border: 3px solid #f1f1f1;text-align: center;}

input {
  width: 600px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
label{
  color:dark;
 font-weight:bold;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 24px;
  margin:1px 100px;
  border: none;
  cursor: pointer;
  width:645px ;
  margin-left:164px ;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.container {
  padding: 16px;
}
h2{
  text-align: center;
}
#nom{
  padding-left: 27px;
}
#adresse{
  padding-right: 2px;

}
#adresseLivraison{
  padding-right: 94px;

}
#email{
  padding-right: 48px;
}
#pwd{
  padding-right: 14px;

}
#nomUtilisateur{
  padding-right: 56px;

}
#msgErreur{
  color: red;
}
#nav_barre{
background-color: #04AA6D;
display: flex;
height: 70px;
align-items: center;
justify-content: end;
}
.btn_nav_barre{
 
  width: 140px;
  height: 40px;
}
#div_btn_auth{
  width: auto;
margin-left: 0;
}
#div_btn_compt{
width: 160px;
text-align: center;
}
#div_btn_profile{
width: 140px;
text-align: center;

}
a{
  color: white;
  font-size: 14px;
}
table{
    text-align: center;
    min-width: 70%;
    margin-left: 20px;
}
th  {
    border:none;
    background-color:blue;
    text-align: center;
    color: white;
}
td  {
    border:none;
    background-color:#c4dcd4;
    text-align: center;
    font-size: 14px;
    }







