
body {font-family: Arial, Helvetica, sans-serif;margin: 0;background-color: #e7e6e6c1;}
form {border: 0 solid #f1f1f1;text-align: center;}

input {
  width: 600px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
label{
  color:dark;
 font-weight:bold;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 24px;
  margin:1px 100px;
  border: none;
  cursor: pointer;
  width:645px ;
  margin-left:164px ;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.container {
  padding: 16px;
}
h2{
  text-align: center;
}
#nom{
  padding-left: 27px;
}
#adresse{
  padding-right: 2px;

}
#adresseLivraison{
  padding-right: 94px;

}
#email{
  padding-right: 48px;
}
#pwd{
  padding-right: 14px;

}
#nomUtilisateur{
  padding-right: 56px;

}
#role{
    padding-left: 39px;
}
#role_select{
  width: 640px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
#msgErreur{
  color: red;
}
#nav_barre_index{
background-color: #04AA6D;
display: flex;
height: 70px;
align-items: center;
justify-content:end;

}
#nav_barre{
background-color: #169864;
display: flex;
height: 70px;
align-items: center;
justify-content:space-between;

}
.btn_nav_barre{
 
  width: 140px;
  height: 40px;
}
#div_btn_auth{
  width: auto;
margin-left: 0;
}
#div_btn_compt{
width: 160px;
text-align: center;
}
#div_btn_profile{
width: 140px;
text-align: center;

}
a{
  color: white;
  font-size: 14px;
}
table{
    text-align: left;
    width: 100%;
    margin-left: 4px;
    margin-top: -20px;
}
th  {
    border:none;
    background-color:#b1b5b4;
    text-align: center;
    color: white;
}
td  {
    border:none;
    background-color:#c4dcd4;
    text-align: left;
    font-size: 14px;
    }
.td_text{
  text-align: left;
  
}
.container_article{
  width: 60%;
}
.produit{
  margin-top: 4px;
  display:flex;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 5px 5px rgb(214, 212, 209);
  width: 100%;
}
.container_data{
  margin-top: 14px;
  display:flex;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 5px 5px rgb(214, 212, 209);
  width: 100%;

}
.container_data > div{
  margin: 12px;
  height: 140px;

}
#Ajouter_panier{
  padding: 5px 24px;
  border: none;
  cursor: pointer;
  width:152px ;
  margin-left:auto;

}
#commander{
  padding: 5px 24px;
  border: none;
  cursor: pointer;
  width:152px ;
  margin-left:20%;

}
.container_data_div{
  text-align: left;
  width:70% ;
}
.img_article{
  width: 30%;
 text-align: center;
}
#img{
  width: 70%;
  height: 140px;
  
}
.panier{
  box-shadow: 10px 5px 5px rgb(214, 212, 209);
  width: 40%;
  background-color: #f4f3f3;
  box-shadow: 10px 5px 5px rgb(214, 212, 209);
  text-align: center;

}
h3{
  margin-left: 20px;
}
#btn_valider_commande{
 padding: 5px 24px;
  border: none;
  cursor: pointer;
  width:152px ;
  margin-left:120px;
  font-size: 14px;
  font-weight: bold;
}
#MonPanier{
  background-color: #f4f3f3;
  margin-left: 4px;
  margin-top: -20px;
 
}
#nav_barre1{
background-color: #169864;
display: flex;
height: 70px;
align-items:center;
justify-content:end;
}
#nav_barre2{
background-color: #169864;
display: flex;
height: 70px;
align-items:center;
justify-content:end;
}
#tableUser{
  width: 80%;
  text-align: center;
  margin-left:10% ;
}
.tableUserTh{
  background-color: #169864;
  text-align: center;
}
.tableUserTd{
  text-align: center;
}
#btn_modif{
  margin-left: 14px;
}
#qte_update{
  width: 120px;
}
#img_detail_div{
  width: 30%;
}
#img_detail{
  width: 100%;
}
#Detail_Article{
padding-top: 20px;
display: flex;
align-items:center;
justify-content:center;
}
#Description{
margin-left: -370px;
}
#Qte{
  margin-top: 10px;
}



